.FooterContainer{
    margin-top: 15px;
    background-color:#ffffff;
    color:#333333;
    font-family:NotoSerif;
    font-size:14px;
    line-height:20px;
}

.Footer-info-container{
    text-align: center;
    color:#333333;
    margin-top:20px;
}

.Footer-catelist-container{
    color:#333333;
    font-size:13px;
    line-height:20px;
    margin: 0 0 20px;
    padding:0 0 10px;
    text-transform:uppercase;
    list-style-type:none;
}

.catelist{
    list-style-type:none;
}

.right{
    color:#333333;
    font-size:13px;
    line-height:20px;
    text-align:right;
}

.hotline{
    color:#009cd7;
    font-family:NotoSerif;
    font-size:13px;
    font-weight:700;
    line-height:20px;
    margin:12px 0px 0px;
    text-transform:uppercase;
}

.hovered{
    color:#333333 ;
}

.hovered:hover{
    color:#009cd7;
}
