.FooterContainer{
    margin-top: 10px;
    background-color:#ffffff;
    color:#333333;
    font-family:NotoSerif;
    font-size:14px;
    line-height:20px;
}

.Footer-content-container{
    padding:15px;
    margin:0 15px;
    text-align: center;
}

.right{
    color:#3333;
    font-size:13px;
    line-height:20px;
    text-align:right;
    font-weight: 700;
}