.pointer{
    cursor: pointer;
}

.postContainer{
    margin-top: 20px;
    background-color:ffffff;
    padding:30px;
    box-shadow:#dddddd 0px 2px 3px 0px;
}

.suggestNews-container{
    box-shadow:#dddddd 0px 2px 3px 0px;
}

.suggestNews-content{
    padding:15px
}