.pointer{
    cursor: pointer;
}

.PostContainer{
    margin-top: 30px;
}

.post-content{
    background-color:ffffff;
    padding:30px;
    box-shadow:#dddddd 0px 2px 3px 0px;
}

.suggestNews-container{
    box-shadow:#dddddd 0px 2px 3px 0px;
}

.suggestNews-content{
    padding:15px
}

.colorbg{
    background-color:cadetblue;
    margin-top: 20px;
}

.Addpostbtn{
    margin-top:10px;
}